$width: 1920px;
$height: 1080px;

$frameColor: rgb(184, 50, 50);
$frameBackground: hsl(203, 22%, 7%);
$notch-size: 30px;
$inner-padding: $notch-size * 0.6; //expose this for others to compensate
$streamOsFontColor: #e1e6e9;

@mixin notched($size) {
  clip-path: polygon(
    0% #{$size},
    #{$size} 0%,
    100% 0%,
    100% calc(100% - #{$size}),
    calc(100% - #{$size}) 100%,
    0% 100%
  );
}

.streamos-container {
  position: absolute;
  background-color: $frameColor;
  @include notched($notch-size);
  display: flex;
  justify-content: center;
  padding: 5px;
  overflow: hidden;
  color: $streamOsFontColor;

  .inner {
    position: relative;
    width: 100%;
    height: 100%;
    padding: $inner-padding;
    background-color: $frameBackground;
    @include notched($notch-size - 1px);
  }
}

body {
  position: relative;
  width: $width;
  height: $height;
}