@use "normalize.css/normalize";
@use "canvas";

*,
*::before,
*::after {
  box-sizing: border-box; // 1
}

#base {
  height: 100%;
}

.boot-container {
  width: 100%;
  height: 100%;
  background-color: rgb(43, 58, 66);
  color: canvas.$streamOsFontColor;
  font-family: 'Share Tech Mono', 'Courier New', Courier, monospace;
}

$side-margin: 2%;
$top-margin: 2%;
$spacing: 2%;
$main-width: 60%;
$countdown-height: 20%;

.main-container {
  top: $top-margin;
  left: $side-margin;
  width: $main-width;
  height: 100% - (2 * $top-margin);
}

.countdown-container {
  bottom: $top-margin;
  right: $side-margin;
  width: 100% - (2* $side-margin) - $main-width - $spacing;
  height: $countdown-height;
  
  .inner {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      font-size: 6.5rem;
      margin: 0;
    }
  }
}

.progress-container {
  top: $top-margin;
  right: $side-margin;
  height: 100% - (2 * $top-margin) - $spacing - $countdown-height;
  width: 100% - (2* $side-margin) - $main-width - $spacing;
}

.progress-bar {
  .title {
    text-transform: uppercase;
  }
}

.bar-outer {
  height: 30px;
  width: 100%;
  background-color: #a8a8a8;
}

.bar-inner {
  height: 100%;

  &.in-progress {
    background-color: #0033dd;
  }

  &.complete {
    background-color: #00dd33;
    width: 100%;
  }
}