@use "canvas";
  
.todos {
  width: 20%;
  height: 360px;
  right: 1%;
  bottom: 1%;
}

.todos .wrapper h1 {
  height: 16.6%;
}

.todo-item {
  height: 16.6%;
  padding: 10px;
  margin-bottom: 10px;
}

.cameraframe {
  color: canvas.$streamOsFontColor;
  width: 364px;
  height: 315px;
  left: 45px; // For my 1440p canvas, with windows set to 125% monitor scale
  bottom: 45px; // These values correspond to 62px left and 996 top in OBS

  .inner {
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
}